{% extends 'base.html' %}

{% block content %}
    <h1>Alejandro Malanche's Page</h1>
    <nav>
        <a href="" id=""></a>
        <a href="" class="social-media" id="github"></a>
        <a href="" class="social-media" id="linked-in"></a>
        <a href="" class="social-media" id="email"></a>
    </nav>

    <section id="about-me">
        <p id="about-me-text">

        </p>
    </section>
    <section id="education">
        <div class="education-info" id="school-year">
            
        </div>
        <div class="education-info" id="location-major">

        </div>
    </section>
{% endblock content%}